@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MWD</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/dropzone.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/dropper.css")" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <script src="@Url.Content("~/scripts/jquery-3.4.1.min.js")"></script>


    @Html.Partial("Layout/NavigationBar", @Model.Content)
    <main class="main-content">
        <div class="main-content-wrapper">
            <div class="current-page">
                <h3><small> >@CurrentPage.Name </small></h3>
                <hr>
            </div>

            <div class="body-content">
                @RenderBody()

            </div>


        </div>
    </main>
    
    @Html.Partial("Layout/Footer", @Model.Content)
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="@Url.Content("~/scripts/dropzone.js")"></script>
    <script src="@Url.Content("~/scripts/vendor/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/scripts/uploader.js")"></script>

</body>
</html>